<div id="message-<%= message.id %>" class="user-message message">
  <small>
    <strong><%= message.chat.user.user_name %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.contents %></p>
</div>
