<div class="container">
  <div class="leftside">
    <div class="cards-container">
    <h1>Your DocStash</h1>
    <h5>Filter here</h5>
    <div class="cards">
        <% @docs.each do |doc| %>
          <div class="card">
            <%= doc.file_name %>
            <p>Description</p>
          </div>
        <% end %>
      </div>
    </div>
    </div>
    <div class="rightside">
      <%= render "shared/chats" %>
    </div>
  </div>
    <div class="upload"></div>
  </div>
  <div class="chat"></div>
</div>
