<% @user = current_user %>
<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("IMG_0315.png", class: "logo") %>
    <% end %>

    <!-- New Row for Search Bar and Avatar -->
    <div class="row align-items-center"> <!-- Added this div -->
      <div class="col-sm-8 my-3">
        <!-- Moved the search form here -->

      </div>

      <!-- Moved the avatar-related elements here -->
      <div class="col-sm-2">
        <% if user_signed_in? %>
          <!-- Avatar Dropdown -->
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- Avatar Image -->
            <% if current_user.photo.attached? %>
              <%= cl_image_tag(current_user.photo.key, class: "avatar", alt: "dropdown menu") %>
            <% else %>
              <img src="https://res.cloudinary.com/dpvwejoeb/image/upload/v1691671929/photo-1511367461989-f85a21fda167_r8otbi.avif" class="avatar" alt="avatar" />
            <% end %>
          </a>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </div>
    </div>

    <!-- Toggle Button for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
