
<div class="sidebar">
    <ul class="logos">
      <li class="logo"><a href="/docs"><i class="fa-solid fa-house"></i></a></li>
      <li class="logo"><a href="/docs#show"><i class="fa-solid fa-file"></i></a></li>
      <li class="logo"><a href="/chats"><i class="fa-solid fa-comments"></i></a></li>
      <li class="logo"><a href="/settings"><i class="fa-solid fa-gear"></i></a></li>
    </ul>
</div>
