<div class="container">
  <div class="row">
    <% @chats.each do |chat| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= chat.chat_name %></h5>
            <%= link_to "Go to Chat", chat_path(chat), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 mb-4">
      <%= link_to "Create a new chat", new_chat_path, class: "btn btn-primary", role: "button" %>
    </div>
  </div>
</div>
