<h1>Create a new chat</h1>
<%= simple_form_for [@chat] do |f| %>
  <%= f.input :chat_name, placeholder: 'Enter a name for your chat' %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%# <%= f.hidden_field :user.last_name, value: current_user.last_name %>
<% end %>
