.doc-upload {
  h1 {
    margin-bottom: 40px;
  }
}

.upload-form {
  border: dotted 2px #cfcbcb;
  background: #fbfbfb;
  border-radius: 10px;
}

.upload-container {
  padding: 20px 100px;

  i {
    color: rgba(38, 42, 65, 0.5);
  }

  p {
    margin-top: 8px;
  }
}
