.doc-upload {
  h1 {
    margin-bottom: 40px;
    margin-top: 26px;
  }
}

.upload-form {
  border: dotted 2px #cfcbcb;
  background: #fbfbfb;
  border-radius: 10px;
}

.upload-container {
  padding: 20px 100px;

  i {
    color: #323E41;
  }

  p {
    margin-top: 8px;
    color: #323E41;
  }
}

.simple-form {
  color: #323E41;
}

.submit-button {
  background-color: #f0bbff;
  background-image: linear-gradient(238deg, #f0bbff 0%, #f280e9 23%, #7485ff 100%);
  box-shadow: 10px 10px 5px #d0cfcfa1;
  border:1px solid #b5b5b5;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  height:50px;
  width: auto;
  margin-top: 10px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.submit-button:focus {
  outline: none;
}

.submit-button:hover {
  background-color: #3c3b4d;
  color: #d8c8c8;
}

.dropzone {
  font-family: 'Poppins', sans-serif;
  border: 2px dashed #b5b5b5;
}

.upload-container{
  border: 2px solid #c7c6c6;
}
