

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  height: 60px;
  justify-content: space-between;
  background: white;
  // border-bottom: solid 0px lightgray;

  h1 {
    color: #262A41;
  }

  span {
    color: #2FCBED;
  }
}
