.send-button {
  background-color: #f0bbff;
  background-image: linear-gradient(238deg, #f0bbff 0%, #f280e9 23%, #7485ff 100%);
  box-shadow: 10px 10px 5px #d0cfcfa1;
  border:1px solid #b5b5b5;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  height:68px;
}

.send-button:focus {
  outline: none;
}

.send-button:hover {
  background-color: #3c3b4d;
  color: #d8c8c8;
}
