.sidebar {
  width: 60px;
  height: 100vh;
  position: sticky;
  background-color: #FBF9F9;
  top: 0;
  left: 0;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  // overflow-y: hidden; /* Hide vertical scrollbar */
  // overflow-x: hidden; /* Hide horizontal scrollbar */
  clip-path: inset(0px -10px -10px -10px);
}

.logos {
  list-style: none;
  padding: 0;
  margin: 0;
  // overflow: auto;
}

.logo {
  width: 60px;
  height: 100px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.logo i {
  font-size: 28px;
  color: #bbbaba;
}

.logo:hover {
  transform: translateY(-5px);

  i {
    color: #262A41;
  }
}

.active {
  color: #262A41;
}

#logout {
  // padding-top: 182px;
}

.icon-blue {
  color: #262A41;
}
