.sidebar {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 70px;
  margin-bottom: 50px;
}

.logos {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.logo {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.logo i {
  font-size: 32px;
  color: #262A41;

}

.logo:hover {
  transform: translateY(-5px);
}
